@model IEnumerable<ParkingService.Models.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parkStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parkStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.parkingSpotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.parkingSpotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.parkingSpotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
